In [1]:
import pandas as pd

In [13]:
data = pd.read_csv("C:\\Users\\brand\\Downloads\\Data Analyst Course\\S17 - pandas Series\\Location.csv")
location_data = data.copy()
location_data.head()

      Location
0   Location 3
1   Location 6
2   Location 8
3  Location 26
4  Location 34

In [15]:
type(location_data)

pandas.core.frame.DataFrame

In [17]:
location_data.describe()

           Location
count          1043
unique          296
top     Location 25
freq             31

In [19]:
len(location_data)

1043

In [21]:
location_data.nunique()

Location    296
dtype: int64

In [23]:
type(location_data.nunique())

pandas.core.series.Series

In [36]:
location_data.unique()

AttributeError: 'DataFrame' object has no attribute 'unique'